.paragraph-title {
  font-size: 1.2em;
  font-weight: 700;
}

.bold {
  font-weight: 700;
}

.article {
  &__img {
    @media only screen and (min-width: $tablet) {
      width: 345px;
    }
    margin-bottom: 1em;
  }

  &__title {
    font-size: 1.5rem;
  }

  &__info {
    margin-bottom: 1em;
  }
}

.sources {
  margin: 4em 0;

  &__further-reading-list {
    margin-left: 1em;
  }
}
